MONGODB_DB = 'cve_tracker'
MONGODB_HOST = '127.0.0.1'

GITHUBUSER = 'github_username'
GITHUBTOKEN = 'github_token'

# github organisation user must be part of to be successfully logged in
# 'none' will disable authentication
GITHUB_ORG = 'LineageOS'
# github OAuth2 key
GITHUB_CLIENT_ID = 'my_github_app_id'
# github OAuth2 secret
GITHUB_CLIENT_SECRET = 'my_github_app_secret'

# used by flask to secure session info. change this to something random.
SECRET_KEY = 'default'
