@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-image: url('../img/cm13-wallpaper-001.jpg');
  font-family: "Roboto", sans-serif;
  color: white;
}

div.frame {
  background-color: rgba(40, 40, 40, 0.5);
  padding: 20px;
  float: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.repo {
  display: inline-block;
  padding-bottom: 2px;
  color: rgba(255, 255, 255, 1);
  min-width: 300px;
}

div.cve-row {
  display: inline-block;
}

th.rotate {
  height: 140px;
  white-space: nowrap;
}

th.rotate > div{
  transform:
    translate(25px, 51px)
    rotate(315deg);
  width: 30px;
}

th.rotate > div > span{
  border-bottom: 1px solid #ccc;
  padding: 2px 5px;
}

td {
  border-right: 1px solid #ccc;
}

a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

div.row {
  height: 1.5em;
  overflow-x: hidden;
  overflow-y: hidden;
}

span.cve {
  float: left;
  padding-right: 10px;
}

.status {
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

/* Red 500 */
.status_1 {
  color: #F44336;
}

/* Red A700 */
.status_1:hover {
  color: #D50000;
}

/* Light green A400 */
.status_2 {
  color: #76FF03;
}

/* Light green A700 */
.status_2:hover {
  color: #64DD17;
}

.status_3 {
  color: yellow;
}

/* Yellow A700 */
.status_3:hover {
  color: #FFD600;
}

/* Blue 500 */
.status_4 {
  color: #2196F3;
}

/* Blue A700 */
.status_4:hover {
  color: #2962FF;
}

/* Teal A300 */
.status_5 {
  color: #4DB6AC;
}

/* Teal A700 */
.status_5:hover {
  color: #00796B;
}

#progressbar {
  height: 20px;
  margin-bottom: 10px;
}

.ui-progressbar-value {
  background: #88ff88 !important;
}

.vendor {
  float: left;
  text-align: left;
  min-width: 100px;
}

a.button {
  background-color: #2196f3;
  color: white;
  cursor: pointer;
}

a.button:hover {
  background-color: white;
  color: #2196f3;
}

a.device {
  float: left;
}

div.header {
    text-align: left;
    font-size: 1.2em;
    display: block;
    font-weight: bold;
    color: #00BCD4;
}

div.back {
  position: absolute;
  top: 2px;
  left: 2px;
}

div.kernelrow, div.cvediv {
  text-align: left;
}

span[class^="status_"] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
}

span.device {
  padding: 0 10px;
}

#links, #addlink, #confirmdelete {
  display: none;
}

#linklist {
  text-align: left;
}

#links > a {
  font-size: 14px;
}

a.small.button {
  padding: 0 12px;
  line-height: 24px;
  height: 24px;
}

a.button.delete {
  background-color: #ce0f0f;
}

a:hover.delete {
  color: #ce0f0f;
}
