{% extends "base.html" %}
{% block title %}LineageOS CVE Tracker{% endblock %}
{% block nav_deprecated %}active{% endblock %}
{% block content %}
    <div class="card container">
        <div class="header">
            <span class="title">Deprecated kernels</span>
        </div>
        <div class="kernels container">
            {%- for column in kernels | slice(3) %}
                <div class="four columns">
                {%- for k in column %}
                    {% if loop.first or column[loop.index0 - 1].vendor != k.vendor -%}
                        <div class="vendor">
                            <span class="title">{{ k.vendor }}</span>
                    {%- endif %}
                            <div class="kernel">
                                <a class="repo" href="/{{ k.repo_name }}">{{ k.device }}</a>
                                <span>({{ k.progress | int }} %)</span>
                            </div>
                    {%- if loop.last or column[loop.index0 + 1].vendor != k.vendor %}
                    </div>
                    {% endif -%}
                {%- endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
