<!doctype html>
<html>
  <head>
    <link rel=stylesheet type=text/css href='{{ url_for('static', filename='css/skeleton.css') }}' />
    <link rel=stylesheet type=text/css href='{{ url_for('static', filename='css/style.css') }}' />
    <link rel=stylesheet type=text/css href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css' />

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
    <script src='{{ url_for('static', filename='js/editcve.js') }}'></script>

    <title>LineageOS CVE Checklist - Edit {{ cve.cve_name }}</title>
  </head>
  <body>
    <div id="addlink" title="Enter new link" cve_id="{{ cve.id }}">
      <input placeholder="link" type="text" name="link" id="linktoadd"><br/>
      <input placeholder="description" type="text" name="desc" id="linkdesc">
      <div id="addlinkerror"></div>
    </div>
    <div id="editlink" title="Edit">
      Link:<br/>
      <input placeholder="http://" type="text" name="link" id="linktoedit" size="30"><br/>
      Description:<br/>
      <input placeholder="'Patch for version xxx', ..." type="text" name="desc" id="linkeditdesc" size="30">
      <div id="editlinkerror"></div>
    </div>
    <div id="editnotes" title="Edit CVE notes" cve_id="{{ cve.id }}">
      <textarea placeholder="Applicable versions/platforms..." type="text" name="notes" id="cvenotes" cols="30"></textarea>
      <div id="editnoteserror"></div>
    </div>
    <div id="confirmdeletecve" title="Confirm deletion?" cve_name="{{ cve.cve_name }}">
      Are you sure that you want to delete this CVE?<br/>This can <b>not</b> be undone!
    </div>
    <div id="confirmdeletelink" title="Confirm deletion?" link_id="">
      Are you sure that you want to delete this link?<br/>This can <b>not</b> be undone!
      <div id="deletelinkerror"></div>
    </div>
    <div class='frame container'>
      <div class='back'><a href="javascript:history.back()">back</a></div>
      {% if msg %}
        <div>
          {{ msg }}
        </div>
      {% else %}
        <h3>{{ cve.cve_name }}</h3>
        <a href="javascript:void(0)" class='small button delete' onclick='deletecve();'>Delete</a>
        <h4>Notes</h4>
        <div cve_id="{{ cve.id }}" >
          <span id="notes">{{ cve.notes }}</span><br><br>
            <a class="button" href="javascript:void(0)" onclick="editnotes()"><strong>
              {% if cve.notes %}
                Edit notes
              {% else %}
                Add notes
              {% endif %}
            </strong></a>
        </div>
        <hr>
        <h4>Links</h4>
        <div id="linklist">
          <ul>
          {% for l in links %}
            {% if l.desc %}{% set desc = l.desc %}{% else %}{% set desc = "No description" %}{% endif %}
            <li link="{{l.link}}" desc="{{desc}}" id="{{ l.id }}">
              <a class="link" href="{{l.link}}">{{l.link}}</a> - 
              <span class="linkdesc">{{desc}}</span>
              <a class="small button delete" onclick='deletelink(this);'>Delete</a>
              <a class="small button" onclick='editlink(this);'>Edit</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <a class="button" href="javascript:void(0)" onclick='addlink();'>Add New Link</a>
        <br><br>
      {% endif %}
    </div>
  </body>
</html>
