<!doctype html>
<html>
  <head>
    <link rel=stylesheet type=text/css href='{{ url_for('static', filename='css/skeleton.css') }}' />
    <link rel=stylesheet type=text/css href='{{ url_for('static', filename='css/style.css') }}' />
    <link rel=stylesheet type=text/css href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css' />

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
    <script src='{{ url_for('static', filename='js/editcve.js') }}'></script>

    <title>LineageOS CVE Checklist - Edit {{ cve.cve_name }}</title>
  </head>
  <body>
    <div cve_id="{{ cve.id }}" id="addlink">
      <input placeholder="link" type="text" name="link" id="linktoadd"><br>
      <input placeholder="description" type="text" name="desc" id="linkdesc"><br>
      <input type="button" value="Add!" id="confirmaddlink">
      <div id="addlinkerror"></div>
    </div>
    <div id="editlink">
      <input placeholder="link" type="text" name="link" id="linktoedit"><br>
      <input placeholder="description" type="text" name="desc" id="linkeditdesc"><br>
      <input type="button" value="Save!" id="confirmeditlink">
      <div id="editlinkerror"></div>
    </div>
    <div cve_id="{{ cve.id }}" id="editnotes">
      <textarea placeholder="Applicable versions/platforms..." type="text" name="notes" id="cvenotes" ></textarea><br>
      <input type="button" value="Save!" id="savenoteslink">
      <div id="editnoteserror"></div>
    </div>
    <div cve_name="{{ cve.cve_name }}" id="confirmdeletecve">
      <input type="button" value="Yes!" id="yesdeletecve">
      <input type="button" value="NOOOOO!" id="nodeletecve">
    </div>
    <div link_id="" id="confirmdeletelink">
      <input type="button" value="Yes!" id="yesdeletelink">
      <input type="button" value="NOOOOO!" id="nodeletelink">
      <div id="deletelinkerror"></div>
    </div>
    <div class='frame container'>
      <div class='back'><a href="javascript:history.back()">back</a></div>
      {% if msg %}
        <div>
          {{ msg }}
        </div>
      {% else %}
        <h3>{{ cve.cve_name }}</h3>
        <a href="javascript:void(0)" class='small button delete' onclick='deletecve();'>Delete</a>
        <h4>Notes</h4>
        <div cve_id="{{ cve.id }}" >
          <span id="notes">{{ cve.notes }}</span><br><br>
            <a class="button" href="javascript:void(0)" onclick="editnotes()"><strong>
              {% if cve.notes %}
                Edit notes
              {% else %}
                Add notes
              {% endif %}
            </strong></a>
        </div>
        <hr>
        <h4>Links</h4>
        <div id="linklist">
          <ul>
          {% for l in links %}
            {% if l.desc %}{% set desc = l.desc %}{% else %}{% set desc = "No description" %}{% endif %}
            <li link="{{l.link}}" desc="{{desc}}" id="{{ l.id }}">
              <a class="link" href="{{l.link}}">{{l.link}}</a> - 
              <span class="linkdesc">{{desc}}</span>
              <a class="small button delete" onclick='deletelink(this);'>Delete</a>
              <a class="small button" onclick='editlink(this);'>Edit</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <a class="button" href="javascript:void(0)" onclick='addlink();'>Add New Link</a>
        <br><br>
      {% endif %}
    </div>
  </body>
</html>
