{% extends "base.html" %}
{% block title %}LineageOS CVE Tracker - Edit {{ cve.cve_name }}{% endblock %}
{% block content %}
    <div id="add-link-dialog" class="dialog">
        <div class="title">
            Enter new link
        </div>
        <div class="content">
            <label>Link</label>
            <input class="link" type="text" placeholder="http://">
            <label>Description</label>
            <textarea class="description" placeholder="'Patch', '3.10', ..."></textarea>
            <div class="error"></div>
        </div>
        <div class="actions">
            <button class="cancel">CANCEL</button>
            <button class="add">ADD</button>
        </div>
    </div>

    <div id="edit-link-dialog" class="dialog">
        <div class="title">
            Edit
        </div>
        <div class="content">
            <label>Link</label>
            <input class="link" type="text" placeholder="http://">
            <label>Description</label>
            <textarea class="description" placeholder="'Patch', '3.10', ..."></textarea>
            <div class="error"></div>
        </div>
        <div class="actions">
            <button class="cancel">CANCEL</button>
            <button class="save">SAVE</button>
        </div>
    </div>

    <div id="delete-link-dialog" class="dialog">
        <div class="title">
            Confirm deletion
        </div>
        <div class="content">
            Are you sure that you want to delete this link?<br/>This can <b>not</b> be undone!
        </div>
        <div class="error"></div>
        <div class="actions">
            <button class="cancel">CANCEL</button>
            <button class="delete">DELETE</button>
        </div>
    </div>

    <div id="delete-cve-dialog" class="dialog">
        <div class="title">
            Confirm deletion
        </div>
        <div class="content">
            Are you sure that you want to delete this CVE?<br/>This can <b>not</b> be undone!
        </div>
        <div class="error"></div>
        <div class="actions">
            <button class="cancel">CANCEL</button>
            <button class="delete">DELETE</button>
        </div>
    </div>

    <div class="card container">
        <h3 id="title" cve_id="{{ cve.id }}">{{ cve.cve_name }}</h3>
        <div class="actions">
            <button class="delete-cve">Delete CVE</button>
        </div>
        <h4>Links</h4>
        <div id="linklist">
            Loading ...
        </div>
        <div class="actions container">
            <button class="add-link">Add New Link</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/editcve.js') }}"></script>
{% endblock %}