{% extends "base.html" %}
{% block title %}LineageOS Kernel Tracker - Error }}{% endblock %}
{% block content %}
    <div class="card container">
        <div class="header">
            <span class="title">Error</span>
            <span class="subtitle">
                {% if msg -%}
                    {{ msg }}
                {%- else %}
                    An unknown error has occurred.
                {%- endif %}
            </span>
        </div>
        <div class="actions container">
        </div>
    </div>
{% endblock %}
