<!doctype html>
<html>
  <head>
    <link rel=stylesheet type=text/css href='{{ url_for('static', filename='css/normalize.css') }}' />
    <link rel=stylesheet type=text/css href='{{ url_for('static', filename='css/skeleton.css') }}' />
    <link rel=stylesheet type=text/css href='{{ url_for('static', filename='css/style.css') }}' />
    <title>LineageOS CVE Checklist</title>
  </head>
  <body>
    <div class='frame container'>
    {% for column in kernels | slice(3) %}
      {% set last_vendor = '' %}
      <div class='four columns'>
      {% for k in column %}
        {% if last_vendor != k.vendor %}
          <div class='header'>{{ k.vendor }}</div>
          {% set last_vendor = k.vendor %}
        {% endif %}
        <div class='kernelrow'>
          <a href='/{{ k.repo_name }}'>{{ k.device }}</a></br>
        </div>
      {% endfor %}
      </div>
    {% endfor %}
    </div>
    <div class='frame container'>
      <a href="/addcve">Add new CVE</a>&nbsp;|&nbsp;<a href="/addkernel">Add new Kernel</a>&nbsp;|&nbsp;<a href="https://github.com/LineageOS/cve_tracker">Source</a>
    </div>
  </body>
</html>
