<!doctype html>
<html>
  <head>
    <link rel=stylesheet type=text/css href='{{ url_for('static', filename='css/normalize.css') }}' />
    <link rel=stylesheet type=text/css href='{{ url_for('static', filename='css/skeleton.css') }}' />
    <link rel=stylesheet type=text/css href='{{ url_for('static', filename='css/style.css') }}' />
    <link rel=stylesheet type=text/css href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css' />
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
    <script src='{{ url_for('static', filename='js/cve.js') }}'></script>
    <title>LineageOS CVE Checklist for {{ kernel.repo }}</title>
  </head>
  <body>
    <div id='status_ids' style='display: none;'>
      {% for s in status_ids %}
      <div id={{ 'status_' ~ s.short_id }}>{{ s.text }}
    </div>
    {% endfor %}
    </div>
    <div class='frame container'>
      <div class='back'><a href='/'>back</a></div>
      <h3>
        <a href='https://github.com/LineageOS/{{ kernel.repo }}'>{{ kernel.repo }}</a>
      </h3>
      <div>Devices:</div>
      <div id='devices'>
        {% for d in devices %}
        <span class='device'>
        {% if ' ' not in d %}
        <a href="https://github.com/LineageOS/{{ d }}">{{ d }}</a>
        {% else %}
        {{ d }}
        {% endif %}
        </span>
        {% endfor %}
      </div>
      <div id='progressbar' value={{ (patched / cves|length) * 100 }}>
    </div>
    <div>
      {% for column in cves | slice(3) %}
      <div class='four columns'>
        {% for c in column %}
        <div class='cvediv' id='{{ c.cve_name }}'>
          <a href='https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ c.cve_name }}'>{{ c.cve_name }}</a>
          <span id='status' onclick='update(this)' kernel_id={{ kernel.id }} cve_id={{ c.id }} status_id={{ status_ids.get(id=patches.get(cve=c.id).status).short_id }}></span>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    </div>
  </body>
</html>
