{% extends "base.html" %}
{% block title %}LineageOS Kernel Tracker for {{ cve_name }}{% endblock %}
{% block content %}
    <div id="status_ids">
        {% for s in status_ids -%}
            <div id={{ "status_" ~ s.short_id }}>
                {{ s.text }}
            </div>
        {%- endfor %}
    </div>
    <div class="card container">
        <div class="header">
            <span class="title">Patch status for {{ cve_name }}</span>
        </div>
        <div class="kernels container">
            {% for column in kernels | slice(3) %}
                <div class="four columns">
                {% for k in column %}
                    {% if loop.first or column[loop.index0 - 1].vendor != k.vendor -%}
                        <div class="vendor">
                            <span class="title">{{ k.vendor }}</span>
                    {%- endif %}
                            <div class="kernel" id="{{ k.repo_name }}">
                                <a href="/{{ k.repo_name }}">{{ k.device }}</a>
                                <span class="status" status_id="{{ statuses[patches[k.id]] }}"></span>
                            </div>
                    {%- if loop.last or column[loop.index0 + 1].vendor != k.vendor %}
                        </div>
                    {% endif -%}
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/cve.js') }}"></script>
{% endblock %}
