doctype html

link(href='/css/normalize.css', rel='stylesheet')
link(href='/css/skeleton.css', rel='stylesheet')

link(href='/css/style.css', rel='stylesheet')
link(href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css', rel='stylesheet')

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
script(src='js/cve.js')

html(lang="en")
  head
    title= "LineageOS CVE Checklist for " + kernel.repo
  body
    div.frame.container
      div.back
        a(href="/") back
      h3
        a(href="https://github.com/LineageOS/" + kernel.repo)= kernel.repo
      div Devices:
      div.devices
        - for (var k = 0; k < devices.length; k++)
          span.device
            a(href="https://download.cyanogenmod.org/?device=" + devices[k].split("_").slice(-1))= devices[k].split("_").slice(-1)
      #progressbar(value=(patched/cves.length) * 100)
      div
      - for (var k = 0; k < cves.length / 4; k++)
        div.row
          - for (var i = k*4; i < (k*4)+4 && i < cves.length; i++)
            div.cve-row.four.columns
              span.cve
                a(href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=" + cves[i].cve)= cves[i].cve
              - var j = statuses.findIndex((st) => st.cve_id === parseInt(cves[i].id));
              - var s = j > -1 ? statuses[j].status_id : 1;
              span.status(onclick="update(this);" status_id=s kernel_id=kernel.id cve_id=cves[i].id class="status_" + s)= statusIDs[statusIDs.findIndex((st) => st.id === s)].status
